
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins";
    background: #000000;
    background: -webkit-linear-gradient(170deg, rgba(0, 0, 0, 1) 45%, rgba(87, 173, 199, 1) 55%);
    background: -moz-linear-gradient(170deg, rgba(0, 0, 0, 1) 45%, rgba(87, 173, 199, 1) 55%);
    background: linear-gradient(170deg, rgba(0, 0, 0, 1) 45%, rgba(87, 173, 199, 1) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#57ADC7", GradientType=0);
}
.title-1 {
    font-family: Goldman;
    text-align: center;
    padding-top: 100px;
    color: #0000006a;
    text-shadow: 0 0 7px #5bc0de, 0 0 10px #5bc0de, 0 0 21px #5bc0de, 0 0 42px #000;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 80px;
}
.box {
    text-align: center;
    border: 1px solid #00fbff;
    border-radius: 20px;
    background-color: #00fbff89;
    box-shadow: 0 0 7px #5bc0de, 0 0 10px #0a0b0b, 0 0 21px #5bc0de, 0 0 42px #000;
}
.box:hover {
    box-shadow: 0 0 7px #ffffff, 0 0 10px #000000, 0 0 21px #680cf3, 0 0 42px #000;
    background-color: #7cd771;
    margin-top: -10px;
}
.img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: block;
    transition: all 0.5s ease;
}

.title {
    font-family: Dancing Script;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #00fbff;
    padding-bottom: 2px;
    transition: 0.3s;
}
.text {
    font-family: Poppins;
    padding-top: 10px;
    color: #0000006a;
    text-shadow: 0 0 7px #5bc0de, 0 0 10px #0a0b0b, 0 0 21px #5bc0de, 0 0 42px #000;
    font-size: 12px;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 100px;
    padding-top: 180px;
}
.input {
    font-family: Poppins;
    width: 400px;
    max-width: 400px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #5bc0de;
    border-radius: 28px;
    color: #fff;
    outline: none;
    transition: 0.3s;
}
.input:hover {
    font-family: Poppins;
    border-color: #fff;
    box-shadow: 0 0 18px #5bc0de;
}
.button {
    font-family: Poppins;
    width: 400px;
    padding: 12px;
    margin-top: 15px;
    
    background-color: #00fbff; 
    color: #000000;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 251, 255, 0.4);
    transition: 0.3s;
}
.button:hover {
    background-color: #ffffff;
    box-shadow: 0 0 30px #00fbff;
    transform: scale(1.05);
}


.box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.button-1 {
    font-family: Poppins;
    padding: 8px;
    margin-top: 15px;
    
    background-color: #00fbff; 
    color: #000000;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;  
    box-shadow: 0 0 20px rgba(0, 251, 255, 0.4);
    transition: 0.1s;
}
.button-1:hover {
    color: #000;
    background-color: #ffffff;
    box-shadow: 0 0 30px #00fbff;
    transform: scale(1.05);
}

.button-2 {
    font-family: Poppins;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 4px;
    padding-left: 4px;
    margin-top: 15px;
    
    background-color: #c61717; 
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;  
    box-shadow: 0 0 20px rgba(0, 251, 255, 0.4);
    transition: 0.1s;
}
.button-2:hover {
    color: #000;
    background-color: #ffffff;
    box-shadow: 0 0 30px #00fbff;
    transform: scale(1.05);
}